.form {
	margin: 50px auto;
	text-align: center;
	width: 80%;
	min-height: 80%;
}
.err {
	display: inline-block;
	padding: 15px;
	margin: 15px;
	background-color: #fff;
	color: red;
	font-size: 20px;
	border-radius: 10px;
}
