mat-card {
	margin: 15px;
}
.picture {
	width: 300px;
	height: 450px;
	position: relative;
	img {
		max-height: 100%;
		max-width: 100%;
		position: absolute;
	}
}
.price {
	font-size: 18px;
	font-weight: bold;
}
.options {
	height: 50px;
}
mat-icon {
	cursor: pointer;
}
