mat-paginator {
	margin: 10px auto;
	width: 80%;
	border-radius: 15px;
}

.list {
	display: flex;
	flex-wrap: wrap;
}
.item {
	@media (max-width: 1920px) {
		width: 20%;
	}
	@media (max-width: 1440px) {
		width: 25%;
	}
	@media (max-width: 1024px) {
		width: 33%;
	}
	@media (max-width: 768px) {
		width: 50%;
	}
}
