mat-paginator {
	margin: 10px auto;
	width: 80%;
	border-radius: 15px;
}

.list {
	display: flex;
	flex-wrap: wrap;
}
.item {
	@media (min-width: 1441px) and (max-width: 1920px) {
		width: 20%;
	}
	@media (min-width: 1200px) and (max-width: 1440px) {
		width: 25%;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		width: 33%;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		width: 50%;
	}
	@media (max-width: 767px) {
		width: 100%;
	}
}
