<h2>Prices</h2>
<form [formGroup]="form" (ngSubmit)="search()">
	<mat-form-field>
		<mat-label>from</mat-label>
		<input type="number" matInput formControlName="from">
	</mat-form-field>
	<mat-form-field>
		<mat-label>to</mat-label>
		<input type="number" matInput formControlName="to">
	</mat-form-field>
	<button mat-raised-button color="primary" type="submit">Search</button>
</form>
<mat-radio-group>
	<mat-radio-button value="0-500" (click)="setPrice(0, 500)">0-500$</mat-radio-button>
	<mat-radio-button value="500-1000" (click)="setPrice(500, 1000)">500$-1000$</mat-radio-button>
	<mat-radio-button value="1000+" (click)="setPrice(1000)">1000$+</mat-radio-button>
</mat-radio-group>