<h2>Prices</h2>
<form [formGroup]="form" (ngSubmit)="search()">
	<mat-form-field>
		<mat-label>from</mat-label>
		<input type="number" matInput formControlName="from">
	</mat-form-field>
	<mat-form-field>
		<mat-label>to</mat-label>
		<input type="number" matInput formControlName="to">
	</mat-form-field>
	<button mat-raised-button color="primary" type="submit">Search</button>
</form>
<section>
	<p>
		<mat-checkbox (change)="setPrice(0, 500)">0-500$</mat-checkbox>
	</p>
	<p>
		<mat-checkbox (change)="setPrice(500, 1000)">500$-1000$</mat-checkbox>
	</p>
	<p>
		<mat-checkbox (change)="setPrice(1000)">1000$+</mat-checkbox>
	</p>
</section>